<a href="https://colab.research.google.com/github/edwardhan925192/Python_grammar/blob/main/Team%20project%201/Teamproject1_preprocessing2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df2018 = pd.read_excel('/content/부표원 2018.xlsx',header = None)
df2019 = pd.read_excel('/content/부표원 2019.xlsx',header = None)
df2020 = pd.read_excel('/content/부표원 2020.xlsx',header = None)
df2021 = pd.read_excel('/content/부표원 2021.xlsx',header = None)

In [35]:
raw2018 = pd.read_excel('/content/drive/MyDrive/data/가구원 raw data/4. 2018 서베이 가구원(원시자료와 부호화 지침서).xlsx')
raw2019 = pd.read_excel('/content/drive/MyDrive/data/가구원 raw data/5. 2019 서울서베이 가구원(원시자료와 부호화 지침서).xlsx')
raw2020 = pd.read_excel('/content/drive/MyDrive/data/가구원 raw data/6. 2020 서울서베이 가구원(원시자료와 부호화 지침서).xlsx')
raw2021 = pd.read_excel('/content/drive/MyDrive/data/가구원 raw data/2021년 서울서베이 가구원_데이터.xlsx')

#2018년 데이터 전처리

In [53]:
df_bupyo2018 = pd.DataFrame(bupyo2018)

In [63]:
df_bupyo2018.drop(19,axis = 0,inplace = True)

In [65]:
df_bupyo2018[0].replace({'AQ21':'SQ1_1'},inplace = True)

In [75]:
df_bupyo2018[0] = df_bupyo2018[0].str.replace(' ','')

In [40]:
bupyo = pd.read_excel('./공통부표원.xlsx')

In [76]:
bupyo2018 = (df_bupyo2018[0]).tolist()

In [79]:
raw2018[bupyo2018].to_csv('processed2018.csv',index = False)

#2019년 데이터 전처리

In [110]:
df_bupyo2019 = pd.DataFrame(bupyo[2019])

In [111]:
#공백처리
df_bupyo2019[2019] = df_bupyo2019[2019].str.replace(' ','')

In [112]:
df_bupyo2019.drop(20,axis = 0,inplace = True)

In [ ]:
df_bupyo2019

In [116]:
bupyo2019 = df_bupyo2019[2019][1:].tolist()

In [118]:
raw2019[bupyo2019].to_csv('processed2019.csv',index = False)

#2020년 데이터 전처리

In [102]:
df_bupyo2020 = pd.DataFrame(bupyo[2020])

In [103]:
#공백처리
df_bupyo2020[2020] = df_bupyo2020[2020].str.replace(' ','')

In [106]:
df_bupyo2020.drop(20,axis = 0,inplace = True)

In [ ]:
df_bupyo2020

In [121]:
bupyo2020 = df_bupyo2020[2020][1:].tolist()

In [122]:
raw2020[bupyo2020].to_csv('processed2020.csv',index = False)

#2021년 데이터 전처리

In [123]:
df_bupyo2021 = pd.DataFrame(bupyo[2021])
#공백처리
df_bupyo2021[2021] = df_bupyo2021[2021].str.replace(' ','')
df_bupyo2021.drop(20,axis = 0,inplace = True)
bupyo2021 = df_bupyo2021[2021][1:].tolist()
raw2021[bupyo2021].to_csv('processed2021.csv',index = False)

In [93]:
pd.options.display.max_rows = 50

In [94]:
pd.options.display.max_columns = 50

In [95]:
def find_word(name):
  print(f'2018:{df2018[df2018[2].str.contains(name)].loc[:,[0,2,3]]}')
  print('*'*100)
  print(f'2019:{df2019[df2019[2].str.contains(name)].loc[:,[0,2,3]]}')
  print('*'*100)
  print(f'2020:{df2020[df2020[2].str.contains(name)].loc[:,[0,2,3]]}')  
  print('*'*100)
  print(f'2021:{df2021[df2021[2].str.contains(name)].loc[:,[0,2,3]]}')

# 2018 ~ 2021까지 단어찾기 
  find_word('string')

In [60]:
find_word('가구')

2018:        0                 2                                                  3
12    INC         AQ1_총가구소득  1.50만원 미만\n2.50˜100만원 미만\n3.100˜150만원 미만\n4.15...
14  NUM_1           전체 가구원수                                                NaN
15  fam15       15세 이상 가구원수                                                NaN
18  SQ1_1  01-가구주) 가구주와의 관계  1.가구주\n2.배우자\n3.미혼 자녀\n4.기혼자녀 및 그 배우자\n5.손자녀 및...
19  SQ1_2        01-가구주) 성별                                         1.남성\n2.여성
20  SQ1_3     01-가구주) 출생 년도                                                NaN
21  SQ1_4      01-가구주) 혼인상태                 1.기혼\n2.미혼\n3.이혼\n4.별거\n5.사별\n6.동거
22  SQ1_5        01-가구주) 종교               1.개신교\n2.불교\n3.천주교\n4.유교\n5.기타\n6.없다
23  SQ1_6        01-가구주) 국적                                   1.대한민국\n2.대한민국 외
24  SQ1_7  01-가구주) 등록장애인 여부                                    1.장애인\n2.장애인 아님
25  SQ1_8      01-가구주) 면접여부  1.조사완료\n2.단기 출장/부재\n3.장기 출장/부재\n4.타 지역거주\n5.군입...
27   ANUM             가구원코드                                                NaN
****************************************************************************************************
2019:         0                                                2  \
155    id2                                           가구원 ID
158  sq1_1                                         가구주와의 관계
165    aq1  AQ1. 귀댁의 지난 1년 동안 세금납부(공제)전의 월평균 총 가구소득은 얼마입니까?

                                                     3
155  가구ID+가구원순번(2자리)\n가구원순번\n01 가구주\n02 가구원1\n03 가구...
158  1.가구주\n2.배우자\n3.미혼 자녀\n4.기혼자녀 및 그 배우자\n5.손자녀 및...
165  1.50만원 미만\n2.50˜100만원 미만\n3.100˜150만원 미만\n4.15...
****************************************************************************************************
2020:       0                2                                                  3
0     ID  가구주 - 가구원 연결 변수                                                NaN
2  NUM_1           전체가구원수                                                NaN
3  FAM15      만15세이상 가구원수                                                NaN
6  SQ1_1         가구주와의 관계  1.가구주\n2.배우자\n3.미혼 자녀\n4.기혼자녀 및 그 배우자\n5.손자녀 및...
****************************************************************************************************
2021:       0                2                                                  3
0     ID  가구주 - 가구원 연결 변수                                                NaN
2   FAM1           전체가구원수                                                NaN
3  FAM15      만15세이상 가구원수                                                NaN
6  SQ1_1         가구주와의 관계  1.가구주\n2.배우자\n3.미혼 자녀\n4.기혼자녀 및 그 배우자\n5.손자녀 및...

In [ ]:
df2018[0] = df2018[0].apply(lambda x: x.upper())
df2019[0] = df2019[0].apply(lambda x: x.upper())
df2020[0] = df2020[0].apply(lambda x: x.upper())
df2021[0] = df2021[0].apply(lambda x: x.upper())
buho2018 = set(df2018[0])
buho2019 = set(df2019[0])
buho2020 = set(df2020[0])
buho2021 = set(df2021[0])
total_buho1 = buho2018.intersection(buho2019)
total_buho1 = total_buho1.intersection(buho2020)
total_buho1 = total_buho1.intersection(buho2021)

In [ ]:
total_buho1 = list(total_buho1)

In [ ]:
df2021.set_index(0, inplace = True)

#2018 ~ 2021 다 포함이된 데이터프레임 
#df_same_element

In [ ]:
df_same_element = df2021.loc[total_buho1,:]